[submodule "pmp"]
	path = pmp
	url = git@github.com:unicef/etools-partnership-management
	branch = develop
[submodule "travel"]
	path = travel
	url = git@github.com:unicef/etools-t2f
	branch = develop
[submodule "proxy"]
	path = proxy
	url = git@github.com:unicef/etools-nginx-proxy
	branch = develop
[submodule "backend"]
	path = backend
	url = git@github.com:unicef/etools
	branch = develop
[submodule "dashboard"]
	path = dashboard
	url = git@github.com:unicef/etools-dashboard
	branch = develop
[submodule "ap"]
	path = ap
	url = git@github.com:unicef/etools-auditor-portal.git
	branch = develop
[submodule "tpm"]
	path = tpm
	url = git@github.com:unicef/etools-tpm.git
    branch = develop
[submodule "apd"]
	path = apd
	url = git@github.com:unicef/etools-action-points.git
	branch = develop
[submodule "psea"]
	path = psea
	url = git@github.com:unicef/etools-psea.git
	branch = develop
[submodule "epd"]
	path = epd
	url = git@github.com:unicef/etools-epd.git
	branch = master